@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var contactModel = new USD.Umbraco.Article2.UI.Models.ContactViewModel() { FromEmailAddress = this.Model.MacroParameters["replyTo"].ToString() };

    contactModel.FromEmailAddress = this.Model.MacroParameters["replyTo"].ToString();
}

@using (Html.BeginUmbracoForm(@"SendContactMessage", @"Communication", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => contactModel.FromEmailAddress, new { })

    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    @Html.TextBoxFor(x => contactModel.FirstName, new { placeholder = "First Name", @class = "form-control" })
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    @Html.TextBoxFor(x => contactModel.LastName, new { placeholder = @"Last Name", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12">
                <div class="form-group">
                    @Html.TextBoxFor(x => contactModel.ToEmailAddress, new { placeholder = @"Your Email Address", @class = @"form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12">
                <div class="form-group">
                    @Html.TextAreaFor(x => contactModel.Message, new { placeholder = @"Message", @class = @"form-control", rows = 10 })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-3">
                <button type="submit" name="submitContact" id="submitContact" title="Submit Contact Form" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
}